.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #82E0AA, #FAD7A0);
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 80px;
    font-size: 20px;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #7bcc93;
    color: rgb(0, 0, 0);
    font-size: 18px;
}
.banner
{
    background: -webkit-linear-gradient(left, #82E0AA, #FAD7A0);
}
.banner_content
{
    font-weight: bold;
    color: rgb(0,0,0);
    display: flex;
}
.banner_text
{
    padding: 16px;
    font-size: 20px;
    font-weight: bold;
}
.banner_btn
{
    background-color: transparent;
    border: none;
    display: inline-block;
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    transition-duration: 0.4s;
}
.button1 
{
    right: 150px;
    background-color: transparent; 
    color: black; 
    border: none;
    padding: 16px 16px;
}
.button1:hover 
{
    background-color: #4f5e4f;
    color: white;
}
.button2 
{
    right: 50px;
    background-color: transparent; 
    color: black; 
    border: none;
    padding: 16px 16px;
}
.button2:hover 
{
    background-color: #4f744f;
    color: white;
}
.image
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}